[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "*"
chardet = "*"
idna = "*"
requests = ">=2.20.0"
urllib3 = ">=1.24.2"
requests-html = "*"
pyppeteer = "*"
responses = "*"

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
pylint = "*"
isort = "*"
